# dependencies
node_modules/

# build
dist/
build/

# logs
*.log
npm-debug.log*

# env
.env
.env.local
.env.*.local

# editor
.vscode/
.idea/
.DS_Store

# prisma
prisma/.env

# misc
coverage/
*.tsbuildinfo
